<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" [fullScreen]="true">
  <p style="color: white">Loading...</p>
</ngx-spinner>
@if (isEdit) {
<app-cms-topbar (preview)="changeMode()" [hasChanges]="hasChanges" (publish)="onPublish()"></app-cms-topbar>
}
<app-topbar [isSidebar]="isSideBar" [isEdit]="isEdit" (toogleSideBar)="sideBarToogle()" (preview)="changeMode()"
  (publish)="onPublish()"></app-topbar>
<p-toast position="top-right"></p-toast>

<div class="main-container">
  <div class="w-full flex-1" [ngClass]="{ 'mt-[80px]': !isEdit}">
    <div class="px-[22px] p-[14px] text-[24px] font-SfSemiBold">
      <span class="text-[#727272] cursor-pointer">About Us | </span>
      <span> Practice </span>
    </div>
    <div class="flex flex-col gap-[22px]">
      <div *ngFor="let item of aboutLayouts; let i = index" class="relative">
        @if(isEdit){
          @if(i !== 0 && i !== 1){
          <div class="flex justify-end gap-[10px] m-[10px] rounded-sm top-0 right-0 absolute text-white z-[1]">
            <!-- <button mat-flat-button color="primary"
                  [ngStyle]="{ 'background-color': '#1976D2','width':'50px','padding':'10px','border-radius':'4px' }"
                  (mouseenter)="activeHover()" (mouseleave)="inactiveHover()">
                  <fa-icon [icon]="faUpDown"></fa-icon>
                </button> -->
            <button mat-flat-button color="primary"
              [ngStyle]="{ 'background-color': '#1976D2','width':'50px','padding':'10px','border-radius':'4px' }"
              (click)="openEditLayoutDialog(i)">
              <fa-icon [icon]="faPen"></fa-icon>
            </button>
            <button mat-flat-button color="primary"
              [ngStyle]="{ 'background-color': '#1976D2','width':'50px','padding':'10px','border-radius':'4px' }"
              (click)="openDeleteLayoutDialog(i)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
            <app-edit-layout [layoutArray]="layoutArray" [isVisible]="isEditLayoutVisible"
              (onCLick)="closeEditLayoutDialog()"
              (selectLayout)="onLayoutReplaceSelected($event)">
            </app-edit-layout>
            <app-delete-layout [isVisible]="isVisible" (onCLick)="openDeleteLayoutDialog()"
              (onDelete)="onLayoutDelete()">
            </app-delete-layout>
          </div>
        }
      }
        <ng-container *ngIf="item.layoutid === '4'">
          <app-layout4 [imageName]="item.image[0]" [id]="i" (getFile)="onFilesSelected($event, i, item.layoutid)"
            [isEdit]="isEdit">
          </app-layout4>
        </ng-container>
        <ng-container *ngIf="item.layoutid === '6'">
          <app-layout12 [imageName1]="item.image[0]" [imageName2]="item.image[1]" [imageName3]="item.image[2]" [id]="i"
            (getFile)="onFilesSelectedLayout($event,i, item.layoutid)" [isEdit]="isEdit">
          </app-layout12>
        </ng-container>
        <ng-container *ngIf="item.layoutid === '7'">
          <app-layout6 [imageName1]="item.image[0]" [imageName2]="item.image[1]" [imageName3]="item.image[2]" [id]="i"
            (getFile)="onFilesSelectedLayout($event,i, item.layoutid)" [isEdit]="isEdit">
          </app-layout6>
        </ng-container>
        <ng-container *ngIf="item.layoutid === '8'">
          <app-layout13 [imageName1]="item.image[0]" [imageName2]="item.image[1]" [imageName3]="item.image[2]"
            [imageName4]="item.image[3]" [id]="i" (getFile)="onFilesSelectedLayout($event,i, item.layoutid)"
            [isEdit]="isEdit">
          </app-layout13>
        </ng-container>
        <ng-container *ngIf="item.layoutid === '9'">
          <app-layout15 [imageName1]="item.image[0]" [imageName2]="item.image[1]" [imageName3]="item.image[2]" [id]="i"
            (getFile)="onFilesSelectedLayout($event,i, item.layoutid)" [isEdit]="isEdit">
          </app-layout15>
        </ng-container>
        <ng-container *ngIf="item.layoutid === '10'">
          <app-layout14 [imageName1]="item.image[0]" [imageName2]="item.image[1]" [imageName3]="item.image[2]" [id]="i"
            (getFile)="onFilesSelectedLayout($event,i, item.layoutid)" [isEdit]="isEdit">
          </app-layout14>
        </ng-container>
        <ng-container *ngIf="item.layoutid === '11'">
          <app-layout16 [imageName1]="item.image[0]" [imageName2]="item.image[1]" [id]="i"
            (getFile)="onFilesSelectedLayout($event,i, item.layoutid)" [isEdit]="isEdit">
          </app-layout16>
        </ng-container>
        <ng-container *ngIf="item.layoutid === '12'">
          <app-layout18 [imageName1]="item.image[0]" [imageName2]="item.image[1]" [id]="i"
            (getFile)="onFilesSelectedLayout($event,i, item.layoutid)" [isEdit]="isEdit">
          </app-layout18>
        </ng-container>
        <ng-container *ngIf="item.layoutid === '13'">
          <app-layout8 [data]="item.projects">
          </app-layout8>
        </ng-container>
        <ng-container *ngIf="item.layoutid === '17'">
          <app-layout17 [imageName1]="item.image[0]" [imageName2]="item.image[1]" [id]="i"
            (getFile)="onFilesSelectedLayout($event,i, item.layoutid)" [isEdit]="isEdit">
          </app-layout17>
        </ng-container>
        <ng-container *ngIf="item.layoutid === '31'">
          <app-layout31 [autoPlay]="true" [video]="item.image[0]" [id]="i" [isEdit]="isEdit"
            (getFile)="onFilesVideoSelected($event, i, item.layoutid)"></app-layout31>
        </ng-container>
        <ng-container *ngIf="item.layoutid === '19'">
          <app-layout19 [project_name]="item.title" [description]="item.description" (titleChange)="changeTitle($event)" (descriptionChange)="changeDescription($event)" [isEdit]="isEdit"></app-layout19>
        </ng-container>
      </div>
    </div>
  </div>
  @if (isEdit) {
  <div class="h-[25px] w-full flex justify-end px-[22px] mt-5 mb-[35px]">
    <button class="bg-[#1565c0] w-[50px] h-[50px] !rounded-full text-white" (click)="openAddLayoutDialog()">
      +
    </button>
  </div>
  }
  <app-footer (toTop)="toTop()"></app-footer>
</div>

<app-layout-dialog [layoutArray]="layoutArray" [isVisible]="isAddLayoutPopupVisible" (onCLick)="openAddLayoutDialog()"
  (selectLayout)="onLayoutSelected($event)"></app-layout-dialog>