<div class="flex items-center justify-center w-full mt-[81px] px-[22px]">
  <div class="max-w-[1000px] w-full">
    <div class="font-SfBold sm:text-[44px] text-[24px] sm:mb-[54px] mb-[30px]">
      @if(isEdit){
      <input type="text" class="w-full border text-black" (change)="CustomTitleText($event)"
        [(ngModel)]="data.project_name" />
      }@else{
      {{ data.project_name }}
      }
    </div>
    <div class="font-SfLight sm:text-[22px] text-[16px] mb-[54px] text-left ">
      @if(isEdit){
      <textarea type="text" placeholder="Add Description"
        class="resize-none w-full border text-black font-SfLight font-normal text-[20px] flex justify-center !m-0 mac-screen-subtext mb-2"
        (change)="CustomDescriptionText($event)" rows="5" cols="10" [(ngModel)]="data.project_description"></textarea>
      <app-button *ngIf="isEdit" (btnClick)="AddParaGap()" class="z-10" btnLabel="Add Paragraph Gap">
      </app-button>
      }@else{
      <p [innerHTML]="data.project_description" class=""></p>
      }
    </div>
    <div class="h-full">
      <div class="mb-[24px]">
        <div class="font-SfLight sm:text-[22px] text-[16px]">
          <p class="">
            Year: @if(isEdit){
            <input type="text" placeholder="Add year" class="border text-black mb-[10px]"
              (change)="CustomYearText($event)" [(ngModel)]="data.project_year" />
            }@else{
            {{ data.project_year }}
            }
            <br />
            Client: @if(isEdit){
            <input type="text" placeholder="Add client" class="border text-black mb-[10px]"
              (change)="CustomClientText($event)" [(ngModel)]="data.project_client" />
            }@else{
            {{ data.project_client }}
            }
            <br />
            @if (route_name === "urbanism") {
            @if(isEdit){
            <!-- <input type="text" class="" (change)="CustomAreaText($event)" [(ngModel)]="data.area" />: <input type="text"
              class="" (change)="CustomBuiltupAreaText($event)" [(ngModel)]="data.area" /> -->
            <p-dropdown [options]="areaOptions" [(ngModel)]="data.area" optionLabel="name" placeholder="Select Area"
              (onChange)="CustomAreaText($event)">
            </p-dropdown>: <input placeholder="Add Built-up" type="text" class="border text-black mb-[10px]"
              (change)="CustomBuiltupAreaText($event)" [(ngModel)]="data.project_built_up_area" />
            }@else{
            {{data.area.name}}: {{ data.area }}
            }
            }
            @else if(route_name === "architecture"){
            @if(isEdit){
            <!-- <input type="text" class="" (change)="CustomAreaText($event)" [(ngModel)]="data.area" />: <input type="text"
              class="" (change)="CustomBuiltupAreaText($event)" [(ngModel)]="data.project_built_up_area" /> -->
            <p-dropdown [options]="areaOptions" class="!p-0 border text-black spantext" [(ngModel)]="data.area"
              optionLabel="name" placeholder="Select Area" (onChange)="CustomAreaText($event)">
            </p-dropdown>: <input type="text" placeholder="Add Area" class="border text-black mb-[10px]"
              (change)="CustomBuiltupAreaText($event)" [(ngModel)]="data.project_built_up_area" />
            }@else{
            {{data.area.name}}: {{ data.project_built_up_area }}
            }
            }@else if(route_name === "urbanism"){
            @if(isEdit){
            <!-- <input type="text" class="" (change)="CustomAreaText($event)" [(ngModel)]="data.area" />: <input type="text"
                  class="" (change)="CustomBuiltupAreaText($event)" [(ngModel)]="data.project_built_up_area" /> -->
            <p-dropdown [options]="areaOptions" class="!p-0 border text-black spantext" [(ngModel)]="data.area"
              optionLabel="name" placeholder="Select Area" (onChange)="CustomAreaText($event)">
            </p-dropdown>: <input type="text" placeholder="Add Area" class="border text-black mb-[10px]"
              (change)="CustomBuiltupAreaText($event)" [(ngModel)]="data.project_built_up_area" />
            }@else{
            {{data.area.name}}: {{ data.project_built_up_area }}
            }
            }
            @else if(route_name === "legacy"){
            @if(isEdit){
            <!-- <input type="text" class="" (change)="CustomAreaText($event)" [(ngModel)]="data.area" />: <input type="text"
                  class="" (change)="CustomBuiltupAreaText($event)" [(ngModel)]="data.project_built_up_area" /> -->
            <p-dropdown [options]="areaOptions" class="!p-0 border text-black spantext" [(ngModel)]="data.area"
              optionLabel="name" placeholder="Select Area" (onChange)="CustomAreaText($event)">
            </p-dropdown>: <input type="text" placeholder="Add Area" class="border text-black mb-[10px]"
              (change)="CustomBuiltupAreaText($event)" [(ngModel)]="data.project_built_up_area" />
            }@else{
            {{data.area.name}}: {{ data.project_built_up_area }}
            }
            }
          </p>
        </div>
      </div>
    </div>
    <div class="flex sm:flex-row flex-col items-center gap-[10px] mb-3">
      @if(isEdit){
      <p-multiSelect class="tags" [options]="proejctTags" [(ngModel)]="data.tags" optionLabel="name"
        placeholder="Select Tags" />
      } @else {
      @for (item of data.tags; track $index) {
      <a
        class="flex justify-center items-center px-[20px] py-[4px] border bg-[#EBEBEB] text-[#1A1A1A] text-center font-SfLight text-[16px] min-h-[33px] rounded-full cursor-pointer">
        {{ item.name }}
      </a>
      }
      }
    </div>
    <div class="font-SfRegular text-[24px] mb-[12px]">
      @if(isEdit){
      <input type="text" class="w-full border text-black placeholder:text-[20px] px-2" placeholder="Meta Title"
        (change)="CustomMetaTitleText($event)" [(ngModel)]="data.meta_title" />
      }@else{
      {{ data.meta_title }}
      }
    </div>
    <div class="font-SfRegular text-[24px] mb-[12px]">
      @if(isEdit){
      <textarea type="text" placeholder="Add Meta Description"
        class="resize-none w-full border text-black font-SfLight font-normal text-[20px] flex justify-center !m-0 mac-screen-subtext mb-2"
        (change)="CustomMetaDescriptionText($event)" rows="5" cols="10" [(ngModel)]="data.meta_description"></textarea>
      <app-button *ngIf="isEdit" (btnClick)="AddParaGap()" class="z-10" btnLabel="Add Paragraph Gap">
      </app-button>
      }@else{
      <p [innerHTML]="data.meta_description" class=""></p>
      }
    </div>
    <div class="font-SfRegular text-[24px] mb-[12px]">
      @if(isEdit){
      <textarea type="text" class="resize-none w-full border text-black font-SfLight font-normal text-[20px] flex justify-center !m-0 mac-screen-subtext mb-2" placeholder="Meta Tag" rows="5" cols="10"
        (change)="CustomMetaTagText($event)" [(ngModel)]="data.meta_tag"></textarea>
      }@else{
      {{ data.meta_tag }}
      }
    </div>
  </div>
</div>