<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" [fullScreen]="true">
  <p style="color: white">Loading...</p>
</ngx-spinner>
@if (isEdit) {
<app-cms-topbar (preview)="changeMode()" [hasChanges]="hasChanges" (publish)="onPublish()"></app-cms-topbar>
}
<app-topbar [isSidebar]="isSideBar" [isEdit]="isEdit" (toogleSideBar)="sideBarToogle()" (preview)="changeMode()"
  (publish)="onPublish()"></app-topbar>
<p-toast position="top-right"></p-toast>
<!-- 
<app-architecture-landing-page-builder [layouts]="dummyArrayOfLayouts" ></app-architecture-landing-page-builder> -->
<div class="main-container">
  <div class="w-full flex-1" [ngClass]="{ 'mt-[80px]': !isEdit}">
    <div class="px-[22px] py-[14px] text-[24px] font-SfSemiBold">
      <!-- (click)="onClickNavigate('/architecture')" -->
      <span class="text-[#727272] cursor-pointer">Architecture |
      </span>
      <span>{{ architectureProjects && architectureProjects[0]?.project_name }}
      </span>
    </div>
    <div class="flex flex-col 2xl:space-y-[81px] xl:space-y-[61px] space-y-[40px]">
      <div *ngFor="let arch of architectureProjects; let i = index">
        <div *ngFor="let item of arch.layouts; let j = index">
          <div cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="drop($event)" class="space-y-[22px] px-[22px]">
            <div class="relative" cdkDrag [cdkDragDisabled]="draggable">
              @if (isEdit) {
              
              <div class="flex justify-end gap-[10px] m-[10px] rounded-sm top-0 right-0 absolute text-white z-[1]">
                <!-- <button mat-flat-button color="primary"
                      [ngStyle]="{ 'background-color': '#1976D2','width':'50px','padding':'10px','border-radius':'4px' }"
                      (mouseenter)="activeHover()" (mouseleave)="inactiveHover()">
                      <fa-icon [icon]="faUpDown"></fa-icon>
                    </button> -->
                <button mat-flat-button color="primary"
                  [ngStyle]="{ 'background-color': '#1976D2','width':'50px','padding':'10px','border-radius':'4px' }"
                  (click)="openEditLayoutDialog(i)">
                  <fa-icon [icon]="faPen"></fa-icon>
                </button>
                @if(i !== 0){
                <button mat-flat-button color="primary"
                  [ngStyle]="{ 'background-color': '#1976D2','width':'50px','padding':'10px','border-radius':'4px' }"
                  (click)="openDeleteLayoutDialog(i)">
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
                }
                <app-edit-layout [layoutArray]="layoutArray" [isVisible]="isEditLayoutVisible"
                  (onCLick)="closeEditLayoutDialog()"
                  (selectLayout)="onLayoutReplaceSelected($event)">
                </app-edit-layout>
                <app-delete-layout [isVisible]="isVisible" (onCLick)="openDeleteLayoutDialog()"
                  (onDelete)="onLayoutDelete()">
                </app-delete-layout>
              </div>
              }
              <ng-container *ngIf="item.layout_id === '4'">
                <app-layout4 [imageName]="item.project_image[0]" [id]="i"
                  (getFile)="onFilesSelected($event, i, item.layout_id)" [isEdit]="isEdit">
                </app-layout4>
              </ng-container>
              <ng-container *ngIf="item.layout_id === '6'">
                <app-layout12 [imageName1]="item.project_image[0]" [imageName2]="item.project_image[1]"
                  [imageName3]="item.project_image[2]" [id]="i"
                  (getFile)="onFilesSelectedLayout($event,i, item.layout_id)" [isEdit]="isEdit">
                </app-layout12>
              </ng-container>
              <ng-container *ngIf="item.layout_id === '7'">
                <app-layout6 [imageName1]="item.project_image[0]" [imageName2]="item.project_image[1]"
                  [imageName3]="item.project_image[2]" [id]="i"
                  (getFile)="onFilesSelectedLayout($event,i, item.layout_id)" [isEdit]="isEdit">
                </app-layout6>
              </ng-container>
              <ng-container *ngIf="item.layout_id === '8'">
                <app-layout13 [imageName1]="item.project_image[0]" [imageName2]="item.project_image[1]"
                  [imageName3]="item.project_image[2]" [imageName4]="item.project_image[3]" [id]="i"
                  (getFile)="onFilesSelectedLayout($event,i, item.layout_id)" [isEdit]="isEdit">
                </app-layout13>
              </ng-container>
              <ng-container *ngIf="item.layout_id === '9'">
                <app-layout15 [imageName1]="item.project_image[0]" [imageName2]="item.project_image[1]"
                  [imageName3]="item.project_image[2]" [id]="i"
                  (getFile)="onFilesSelectedLayout($event,i, item.layout_id)" [isEdit]="isEdit">
                </app-layout15>
              </ng-container>
              <ng-container *ngIf="item.layout_id === '10'">
                <app-layout14 [imageName1]="item.project_image[0]" [imageName2]="item.project_image[1]"
                  [imageName3]="item.project_image[2]" [id]="i"
                  (getFile)="onFilesSelectedLayout($event,i, item.layout_id)" [isEdit]="isEdit">
                </app-layout14>
              </ng-container>
              <ng-container *ngIf="item.layout_id === '11'">
                <app-layout16 [imageName1]="item.project_image[0]" [imageName2]="item.project_image[1]" 
                  (getFile)="onFilesSelectedLayout($event,i, item.layout_id)" [id]="i" [isEdit]="isEdit">
                </app-layout16>
              </ng-container>
              <ng-container *ngIf="item.layout_id === '12'">
                <app-layout18 [imageName1]="item.project_image[0]" [imageName2]="item.project_image[1]" [id]="i"
                  (getFile)="onFilesSelectedLayout($event,i, item.layout_id)" [isEdit]="isEdit">
                </app-layout18>
              </ng-container>
              <ng-container *ngIf="item.layout_id === '14'">
                <app-layout7 [isEdit]="isEdit" [captions]="item.captions" [data]="item.slider" [id]="i"
                  (imageChange)="onImageChange($event)">
                </app-layout7>
              </ng-container>
              <ng-container *ngIf="item.layout_id === '13'">
                <app-layout8 [data]="item.projects">
                </app-layout8>
              </ng-container>
              <ng-container *ngIf="item.layout_id === '15'">
                <app-layout17 [imageName1]="item.project_image[0]" [imageName2]="item.project_image[1]" [id]="i"
                  (getFile)="onFilesSelectedLayout($event,i, item.layout_id)" [isEdit]="isEdit">
                </app-layout17>
              </ng-container>
              <ng-container *ngIf="item.layout_id === '31' || item.layout_id === '32'">
                <app-layout31 [autoPlay]="true" [video]="item.project_image[0]" [id]="i" [isEdit]="isEdit"
                  (getFile)="onFilesVideoSelected($event, i, item.layout_id)"></app-layout31>
              </ng-container>
              <ng-container *ngIf="arch.project_id">
                <app-layout5 route_name="architecture" [data]="arch" [isEdit]="isEdit"
                  (titleChange)="changeTitle($event)" (descriptionChange)="changeDescription($event)"
                  (yearChange)="changeYear($event)" (clientChange)="changeClient($event)"
                  (areaChange)="areasChange($event,i)" (builtupAreaChange)="builtupChange($event)"
                  (tagsChange)="onTagsChange($event,i)" (titleMetaChange)="changeMetaTitle($event)" (titleMetaTagChange)="changeMetaTag($event)" (descriptionMetaChange)="changeMetaDescription($event)">
                </app-layout5>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    @if (isEdit) {
    <div class="h-[25px] w-full flex justify-end px-[22px] mt-5 mb-[35px]">
      <button class="bg-[#1565c0] w-[50px] h-[50px] !rounded-full text-white" (click)="openAddLayoutDialog()">
        +
      </button>
    </div>
    }
    <app-footer (toTop)="toTop()"></app-footer>
  </div>
</div>
  <app-layout-dialog [layoutArray]="layoutArray" [isVisible]="isAddLayoutPopupVisible" (onCLick)="openAddLayoutDialog()"
    (selectLayout)="onLayoutSelected($event)"></app-layout-dialog>