<div class="w-full">
  <div class="w-full grid sm:grid-cols-2 sm:grid-rows-1 gap-[22px]">
    <label for="{{ id + '-0' }}" class="cursor-pointer">
      <div class="relative group">
      @if (imageName1) {
      <img [src]="isBase64(imageName1) ? imageName1 : imageUrl + imageName1" lazyLoad loading="lazy" alt=""
        class="aspect-[949/529] w-full gradient" />
      } @else {
      <div class="aspect-[949/529] border flex items-center justify-center font-SfRegular text-[16px] font-normal">
        Upload Image
      </div>
      }
      @if(isEdit){
        <div
          class="absolute inset-0 flex items-center justify-center text-white opacity-0 group-hover:opacity-50 text-[60px] font-bold group-hover:bg-black bg-opacity-25">
          949 x 529
        </div>
        }
      </div>
      @if(isEdit){
      <input type="file" (change)="setImage($event,0)" accept="image/*" [id]="id + '-0'"
        class="hidden absolute inset-0 opacity-0 cursor-pointer" />
      }
    </label>
    <label for="{{ id + '-1' }}" class="cursor-pointer">
      <div class="relative group">
      @if (imageName2) {
    <img [src]="isBase64(imageName2) ? imageName2 : imageUrl + imageName2" lazyLoad loading="lazy" alt="" class="aspect-[949/529] w-full gradient" />
  } @else {
    <div class="aspect-[949/529] border flex items-center justify-center font-SfRegular text-[16px] font-normal">
      Upload Image
    </div>
    }
    @if(isEdit){
      <div
        class="absolute inset-0 flex items-center justify-center text-white opacity-0 group-hover:opacity-50 text-[60px] font-bold group-hover:bg-black bg-opacity-25">
        949 x 529
      </div>
      }
    </div>
    @if(isEdit){
    <input type="file" (change)="setImage($event,1)" accept="image/*" [id]="id + '-1'"
      class="hidden absolute inset-0 opacity-0 cursor-pointer" />
    }
  </label>
  </div>
</div>