<div class="lg:grid lg:grid-cols-3 flex flex-col w-full h-full customCollageGap" [style.gap]="gapInpx">
  <div class="col-span-2 row-span-1  relative group cursor-pointer collage-dropdown">
    <label for="{{ id }}-0" class="cursor-pointer">
      <div class="relative group">
        @if (imageName1) {
          @if(isBase64(imageName1)){
        <img [src]="imageName1" loading="lazy" [alt]="imageName1" class="!aspect-[1243/879] w-full gradient"
          lazyLoad />
          }@else{
            <img [src]="imageUrl + imageName1" loading="lazy" [alt]="imageName1" class="!aspect-[1243/879] w-full gradient"
            lazyLoad />
          }
        } @else {
        <div
          class="xl:aspect-[1243/879] w-full border flex items-center justify-center font-SfRegular text-[16px] font-normal">
          Upload Image
        </div>
        }
        @if(isEdit){
        <div
          class="absolute inset-0 flex items-center justify-center text-white opacity-0 group-hover:opacity-50 text-[60px] font-bold group-hover:bg-black bg-opacity-25">
          1243 X 879
        </div>
        }
      </div>
      @if(isEdit){
      <input type="file" (change)="setImage($event,0)" accept="image/*"
        class="hidden absolute inset-0 opacity-0 cursor-pointer" [id]="id + '-0'" />
      }
    </label>
    @if(isEdit){
      <p-dropdown [options]="projectName" [(ngModel)]="project_name1" optionLabel="name" placeholder="Select Project Name"
      (onChange)="ProjectNameText($event,0)" class="absolute w-full bg-[#ffffffd5] bottom-0 text-[18px] font-SfRegular opacity-0 group-hover:duration-300 p-[5px] group-hover:opacity-100 z-[1] text-black !text-opacity-100">
    </p-dropdown>
    }@else{
    <div
      class="absolute w-full bg-[#ffffffd5] bottom-0 text-[18px] font-SfRegular opacity-0 group-hover:duration-300 p-[5px] group-hover:opacity-100 z-[1] text-black !text-opacity-100">
      {{ project_name1.name }}
    </div>
    }
  </div>
  <div class="col-span-1 row-span-1 relative group cursor-pointer collage-dropdown">
    <label for="{{ id }}-1" class="cursor-pointer">
      <div class="relative group">
        @if (imageName2) {
          @if(isBase64(imageName1)){
        <img [src]="imageName2" loading="lazy" [alt]="imageName2" class="!aspect-[610/879] w-full gradient"
          lazyLoad />
          }@else{
            <img [src]="imageUrl + imageName2" loading="lazy" [alt]="imageName2" class="!aspect-[610/879] w-full gradient"
            lazyLoad />
          }
        } @else {
        <div
          class="xl:aspect-[610/879] w-full border flex items-center justify-center font-SfRegular text-[16px] font-normal">
          Upload Image
        </div>
        }
        @if(isEdit){
        <div
          class="absolute inset-0 flex items-center justify-center text-white opacity-0 group-hover:opacity-50 text-[60px] font-bold group-hover:bg-black bg-opacity-25">
          610 X 879
        </div>
        }
      </div>
      @if(isEdit){
      <input type="file" (change)="setImage($event,1)" accept="image/*"
        class="hidden absolute inset-0 opacity-0 cursor-pointer" [id]="id + '-1'" />
      }
    </label>
    @if(isEdit){
      <p-dropdown [options]="projectName" [(ngModel)]="project_name2" optionLabel="name" placeholder="Select Project Name"
      (onChange)="ProjectNameText($event,1)" class="absolute w-full bg-[#ffffffd5] bottom-0 text-[18px] font-SfRegular opacity-0 group-hover:duration-300 p-[5px] group-hover:opacity-100 z-[1] text-black !text-opacity-100">
    </p-dropdown>
    }@else{
    <div
      class="absolute w-full bg-[#ffffffd5] bottom-0 text-[18px] font-SfRegular opacity-0 group-hover:duration-300 p-[5px] group-hover:opacity-100 z-[1] text-black !text-opacity-100">
      {{ project_name2.name }}
    </div>
    }
  </div>
</div>