<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" [fullScreen]="true">
  <p style="color: white">Loading...</p>
</ngx-spinner>
@if (isEdit) {
<app-cms-topbar (preview)="changeMode()" [hasChanges]="hasChanges" (publish)="onPublish()"></app-cms-topbar>
}
<app-topbar [isSidebar]="isSideBar" [isEdit]="isEdit" (toogleSideBar)="sideBarToogle()" (preview)="changeMode()"
  (publish)="onPublish()"></app-topbar>
<p-toast position="top-right"></p-toast>
<div class="main-container">
  <div class="w-full pt-[80px]">
    <div class="px-[22px] p-[14px] text-[24px] font-SfSemiBold">
      <span (click)="onClickNavigate('/about')" class="text-[#727272] cursor-pointer">About Us | </span>
      <span>Awards</span>
    </div>
    @for (awards of awardsLayouts; track $index){
    <app-layout4 [imageName]="awards.cover" [isEdit]="isEdit" [id]="$index"></app-layout4>
    <div
      class="grid lg:md:grid-cols-4 sm:grid-cols-2 grid-cols-1 sm:gap-x-[1.25%] gap-x-[1.145833333333333%] sm:px-[5.20%] sm:py-[81px] p-[22px] w-full columnsGrid"
    >
      @for(item of awards.grid; track $index){
      <div class="flex flex-col items-center w-full h-full group">
        <app-layout21
          [image]="item.image"
          [description]="item.description"
          [title]="item.title"
        ></app-layout21>
      </div>
      }
    </div>
    }
  </div>
  <app-footer (toTop)="toTop()"></app-footer>
</div>