<div class="w-full">
  <div
    class="flex w-full h-[54px] items-center justify-end px-[23px] space-x-3 fixed bottom-[54px] footer z-[999] invisible"
  >
    <div class="cursor-pointer flex justify-center items-center rounded-full bg-white text-center p-1 px-2 bg-opacity-[0.5]" (click)="clikcBtn()">
      <div class="items-center cursor-pointer font-SfRegular text-[#6b7280]">Top</div>
      <div></div>
      <mat-icon
      fontIcon="keyboard_arrow_up"
      class="!text-[#6b7280]"
    ></mat-icon>
    </div>
  </div>
  <div class="w-full h-[54px]"></div>
  <div
    class="flex sm:flex-row flex-col justify-between px-[22px] h-[54px] items-center"
  >
    <div class="flex space-x-[15px]">
      <a
        target="”_blank”"
        href="https://in.linkedin.com/company/hcp-design-planning-management"
      >
        <img
          class="h-[28px] cursor-pointer"
          src="../../../../assets/linkedin.png"
        />
      </a>
      <a
        target="”_blank”"
        href="https://www.facebook.com/people/HCP-Design-Planning-and-Management/100063804679369/"
      >
        <img class="h-[28px]" src="../../../../assets/Facebook.png" />
      </a>
      <a
        target="”_blank”"
        href="https://instagram.com/hcp.architecture.urbanism/"
      >
        <img class="h-[28px]" src="../../../../assets/instagram.png" />
      </a>
    </div>
    <div class="flex items-center">
      <div class="flex w-full space-x-[30px] items-center font-SfRegular text-[#6b7280]">
        <div>
          <a routerLink="/careers" routerLinkActive="true"> Careers </a>
        </div>
        <div>
          <a routerLink="/contact" routerLinkActive="true"> Contact </a>
        </div>
        <div>
          <a routerLink="/disclaimer" routerLinkActive="true">
            Terms and Conditions
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
